div.form-item-search-all div.form-item-search-date {
  width: auto;
}

div.form-item-search-all label div.form-item-search-en label {
  margin-bottom: 5px;
}


#no_tax-settings-button {
  font-weight: bold;
  cursor: pointer;
  margin: 5px 0 5px 0;
}

#no_tax-settings-button:hover {
  text-decoration: underline;
}

h2.mantab {
  text-align: center;
}

.wrapno,
.wrapnop {
  position: fixed;
  top: 25%;
  background-color: #ffffff;
  display: none;
  padding: 20px;
  left: 35%;
  width: 500px;
  z-index: 100;
}

.asis,
.asistant {
  cursor: pointer;
}

.form-submit.exit {
  width: 45px;
}

#not-taxable-users-change-form {
  padding-left: 30px;
}

#overlayer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: 4;
}

.wrapno h1,
.wrapnop h1 {
  text-align: center;
  margin-top: 20px;
}

#edit-search-date {
  padding: 0;
}

#editmodal button {
  float: right;
  margin-right: 50px;
  margin-top: -58px;
}

#not-taxable-users-change-form  .form-item {
  display: inline-block;
  min-height: 40px;
}

#not-taxable-users-change-form  .form-item select {
  width: 100px;
}

.container-inline-date {
  display: inline-block;
  width: 100%;
}

.container-inline-date #edit-not-date-wrapper {
  padding-top: 41px;
}

#edit-not-date-datepicker-popup-0-wrapper {
  padding-top: 0 !important;
  padding-left: 0 !important;
}

#not-taxable-users-change-form #edit-submit {
  float: right;
  margin-right: 30px;
  margin-bottom: 30px;
}
span.fix {
  font-weight: bold;
}

#not-taxable-users-delete-form div {
  text-align: center;
}
